@use '../../styles/variables.scss' as var;

.contact {
  width: 100%;
  padding: 120px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-title-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1440px;
  gap: 20px;
  margin-bottom: 60px;
}

.contact-line {
  height: 4px;
}

.contact-title {
  font-size: 90px;
  font-family: 'Poppins-bold', sans-serif;
  color: var.$fontcolor;
}

.contact-container {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
}

.contact-info {
  width: 35%;
}

.contact-subtitle {
  font-size: 32px;
  font-family: 'Poppins-bold', sans-serif;
  color: var.$fontcolor;
  margin-bottom: 20px;
}

.contact-text {
  font-size: 20px;
  font-family: 'Poppins-regular', sans-serif;
  color: var.$fontcolor;
}

.contact-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  width: 100%;
  padding: 16px;
  border: 2px solid var.$secondaryfontcolor;
  border-radius: 8px;
  background: transparent;
  font-size: 18px;
}

.error {
  color: var.$errorcolor;
  font-size: 20px;
  margin-top: 6px;
  display: none;
}

textarea {
  height: 160px;
  resize: none;
}

.privacy {
  font-size: 20px;
  display: flex;
  gap: 10px;
  align-items: flex-start;
}


.send-btn {
  background: var.$secondaryfontcolor;
  color: var.$fontcolor;
  padding: 10px 22px;   
  border-radius: 8px;
  font-size: 20px;     
  cursor: pointer;
  border: none;
  width: fit-content;
  margin-top: 20px;
  margin: 0 auto; 

  &:hover {
    background: var.$btncolor;
  }
}