<section class="testimonials">
  <div class="testimonials-content">
    <div class="slide-wrapper">
      <div class="slide-active">
        <div class="testimonial-content">
          <div class="testimonial-box">
            <p class="testimonial-text">
              Michael really kept the team together with his great organization and clear
              communication. We wouldn't have got this far without his commitment.
            </p>
            <p class="testimonial-author">V. Schuster - Team Partner</p>
          </div>

          <div class="image-line-group">
            <img src="assets/feedback1.png" class="testimonial-image" alt="Person" />
            <img src="assets/purpleline.png" class="purpleline" alt="purpleline" />
          </div>
        </div>
      </div>
    </div>
    <div class="testimonial-navigation">
      <img src="assets/leftarrow.png" class="arrow arrow-left" />

      <div class="dots">
        <div class="dot active"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>

      <img src="assets/rightarrow.png" class="arrow arrow-right" />
    </div>
  </div>
</section>
