<section class="testimonials">
  <div class="testimonials-content">

    <div class="slide-wrapper">
        
      <div class="slide-active">
        <div class="testimonial-content">
          <div class="testimonial-box">
            <p class="testimonial-text">
              Michael really kept the team together with his great organization and clear
              communication. We wouldn't have got this far without his commitment.
            </p>
            <p class="testimonial-author">V. Schuster – Team Partner</p>
          </div>

          <div class="image-line-group">
            <img src="assets/feedback1.png" class="testimonial-image" alt="Person" />
            <img src="assets/purpleline.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
