@use '../../styles/variables.scss' as var;

.testimonials {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 120px 0;

  &-content {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

.slide-wrapper {
  width: 100%;
}
.slide-active {
  display: block;
}

.testimonial-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.testimonial-box {
  border: 2px solid var.$btncolor;
  padding: 40px;
  width: 55%;
  border-radius: 12px;
}

.testimonial-text {
  font-size: 22px;
  margin-bottom: 20px;
  color: var.$fontcolor;
  font-family: 'Montserrat', sans-serif; 
}

.testimonial-author {
  font-size: 20px;
  color: var.$fontcolor;
  font-family: 'Montserrat', sans-serif; 
}

.image-line-group {
  display: flex;
  align-items: center;
}


.purpleline{
  width: 150px;
}




.testimonial-image {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 4px solid var.$secondaryfontcolor;
  object-fit: cover;
}

.testimonial-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.arrow {
  cursor: pointer;
}

.dots {
  display: flex;
  gap: 12px;
}

.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var.$secondaryfontcolor;
  opacity: 0.4;
}

.dot.active {
  opacity: 1;
  background-color: var.$btncolor;
}
