<section class="testimonials">
  <div class="testimonials-content">
    <div class="slide-wrapper">
      <div class="slide-active">
        <div class="testimonial-content">
          <div class="testimonial-box">
            <p class="testimonial-text">
              {{ testimonials[currentTestimonial].detail }}
            </p>
            <p class="testimonial-author">{{ testimonials[currentTestimonial].name }}</p>
          </div>

          <div class="image-line-group">
            <img
              [src]="testimonials[currentTestimonial].imageSrc"
              class="testimonial-image"
              alt="Person"
            />
            <img src="assets/purpleline.png" class="purpleline" alt="purpleline" />
          </div>
        </div>
      </div>
      <div class="testimonial-navigation">
        <img
          src="assets/leftarrow.png"
          class="arrow arrow-left"
          (click)="activeTestimonial('prev')"
        />

        <div class="dots">
          <img
            class="dot-img"
            [src]="testimonials[0].display ? 'assets/greendot.png' : 'assets/purpledot.png'"
            (click)="currentTestimonial = 0"
          />

          <img
            class="dot-img"
            [src]="testimonials[1].display ? 'assets/greendot.png' : 'assets/purpledot.png'"
            (click)="currentTestimonial = 1"
          />

          <img
            class="dot-img"
            [src]="testimonials[2].display ? 'assets/greendot.png' : 'assets/purpledot.png'"
            (click)="currentTestimonial = 2"
          />
        </div>

        <img
          src="assets/rightarrow.png"
          class="arrow arrow-right"
          (click)="activeTestimonial('next')"
        />
      </div>
    </div>
  </div>
</section>
