@use '../../styles/variables.scss' as *;

.hero-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
 }


.hero-container {
    position: relative;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
  }


  .hero {
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    color: $fontcolor;
    &.hero-text {
      position: relative;
      text-align: left;
    }
.herointro{
    position: absolute;
    left: 100px;
    top: 50px;
    transform: rotate(-50deg);
    font-size: 64px;

}

  }


.backgroundimages {
  position: relative;
  width: 100%;
  min-height: 600px;
}

.backgroundheroshadow {
  position: absolute;
  left: -55px;
  top: 105px;
  width: 600px;
}

.backgroundhero {
  position: relative;
  margin: 100px 0px 80px 47px;
}

.backgroundborder {
  position: absolute;
  top: 125px;
  left: 50%;
  transform: translateX(-50%);
  width: 1920px;

  > img {
    width: 100%;
    height: auto;
    display: block;
  }
}
