@use '../../styles/variables.scss' as var;

.content {
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.socialcontainer {
  display: flex;
  align-items: center;
  gap: 40px;
}

.line {
  background-color: var.$secondaryfontcolor;
  height: 5px;
  width: 150px;
}

.sociallinks {
  display: flex;
  align-items: center;
  gap: 50px;
  &link {
    height: 30px;
    width: 30px;
    cursor: pointer;
  }
}

p{
    color: var.$fontcolor;
    font-size: 25px;
    font-family: 'Poppins-regular';
}
