@use '../src/app/styles/variables.scss' as var;
* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: inherit;
  color: inherit;
}

body {
  background-color: var.$background_color;
  font-family: inherit;
}
