@use '../src/app/styles/variables.scss' as var;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Figtree', sans-serif;
  scroll-behavior: smooth;
  position: relative;
}

body {
  background-color: var.$background_color;
  // background-color: white;
  font-family: 'Poppins-regular', sans-serif;
}
