<section class="myskills-content">
  <div class="myskills-container">
    <div class="myskills-grid">
      <div class="myskill-language">
        <img src="assets/html.png" alt="HTML" />
        <p>HTML</p>
      </div>

      <div class="myskill-language">
        <img src="assets/css.png" alt="CSS" />
        <p>CSS</p>
      </div>

      <div class="myskill-language">
        <img src="assets/java.png" alt="Javascript" />
        <p>Javascript</p>
      </div>

      <div class="myskill-language">
        <img src="assets/type.png" alt="Typescript" />
        <p>Typescript</p>
      </div>

      <div class="myskill-language">
        <img src="assets/angular.png" alt="Angular" />
        <p>Angular</p>
      </div>

      <div class="myskill-language">
        <img src="assets/supabase.png" alt="Supabase" />
        <p>Supabase</p>
      </div>

      <div class="myskill-language">
        <img src="assets/git.png" alt="Git" />
        <p>Git</p>
      </div>

      <div class="myskill-language">
        <img src="assets/api.png" alt="Rest-API" />
        <p>Rest-API</p>
      </div>

      <div class="myskill-language">
        <img src="assets/scrum.png" alt="Scrum" />
        <p>Scrum</p>
      </div>

      <div class="myskill-language">
        <img src="assets/design.png" alt="Material Design" />
        <p>Material Design</p>
      </div>
            <div class="myskill-language">
        <img src="assets/interest.svg" alt="Contiuanlly learning" />
        <p>Continually learning</p>
      </div>
    </div>
  </div>
  <div class="myskill-right">
    <div class="myskill-row">
      <h2 class="myskill-title">My Skills</h2>
      <div class="purple-line"></div>
    </div>
    <p class="myskills-desc">
      Show that you have used a variety of front-end technologies in your projects.
    </p>

    <h3 class="myskill-desc-title">Looking for another skill?</h3>
    <p class="myskills-desc">Reveal enthusiasm for learning new technologies and frameworks.</p>
    <button class="myskills-btn">Get in Touch</button>
  </div>
</section>
