<section class="myskills-content">
  <div class="myskills-container">
    <div class="myskills-grid">
      <div class="myskill-language">
        <img src="assets/html.png" alt="HTML" />
        <p>HTML</p>
      </div>

      <div class="myskill-language">
        <img src="assets/html.png" alt="HTML" />
        <p>HTML</p>
      </div>

      <div class="myskill-language">
        <img src="assets/html.png" alt="HTML" />
        <p>HTML</p>
      </div>

      <div class="myskill-language">
        <img src="assets/html.png" alt="HTML" />
        <p>HTML</p>
      </div>

      <div class="myskill-language">
        <img src="assets/html.png" alt="HTML" />
        <p>HTML</p>
      </div>

      <div class="myskill-language">
        <img src="assets/html.png" alt="HTML" />
        <p>HTML</p>
      </div>

      <div class="myskill-language">
        <img src="assets/html.png" alt="HTML" />
        <p>HTML</p>
      </div>

      <div class="myskill-language">
        <img src="assets/html.png" alt="HTML" />
        <p>HTML</p>
      </div>

      <div class="myskill-language">
        <img src="assets/html.png" alt="HTML" />
        <p>HTML</p>
      </div>

      <div class="myskill-language">
        <img src="assets/html.png" alt="HTML" />
        <p>HTML</p>
      </div>
    </div>
  </div>
</section>
