@use '../../styles/variables.scss' as var;

#myskills-content {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 100px 0;
  position: relative;

  .myskills-container {
    max-width: 1920px;
    width: 100%;
    padding: 0 240px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    z-index: 2;
  }

  .myskill-shadow {
    position: absolute;
    top: 150%;
    left: 0px;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 0;
  }

  .myskills-grid {
    width: 55%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 30px;
    position: relative;
    z-index: 1;
  }

  .myskill-language {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &:hover {
      transform: translateY(-10px);
      transition: transform 0.1s ease-in-out;
    }

    > img {
      width: 60px;
      height: 60px;
      margin-bottom: 10px;
    }
    > p {
      font-size: 20px;
      color: var.$fontcolor;
      font-family: 'Poppins-regular', sans-serif;
    }
  }
}

.myskill-right {
  width: 40%;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;

  .myskill-row {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
  }

  .myskill-title {
    color: var.$fontcolor;
    font-family: 'Poppins-bold', sans-serif;
    font-size: 64px;
    white-space: nowrap;
  }

  .purple-line {
    width: 80px;
    height: 5px;
    background-color: var.$secondaryfontcolor;
    border-radius: 1px;
  }
}

.myskills-desc {
  font-size: 20px;
  color: var.$fontcolor;
  font-family: 'Poppins-bold', sans-serif;
  margin-bottom: 20px;
}

.myskill-desc-title {
  font-size: 28px;
  font-family: 'Poppins-bold', sans-serif;
  color: var.$fontcolor;
  margin-bottom: 20px;
}

.myskills-btn {
  margin-top: 50px;
  background-color: var.$btncolor;
  font-size: 22px;
  color: var.$fontcolor;
  padding: 14px 28px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: var.$secondaryfontcolor;
  }
}
