<section class="myskills-content">
  <div class="myskills-container">
    <div class="myskills-grid">
      <div class="myskill-language">
        <img src="assets/html.png" alt="HTML" />
        <p>HTML</p>
      </div>

      <div class="myskill-language">
        <img src="assets/html.png" alt="HTML" />
        <p>HTML</p>
      </div>

      <div class="myskill-language">
        <img src="assets/html.png" alt="HTML" />
        <p>HTML</p>
      </div>

      <div class="myskill-language">
        <img src="assets/html.png" alt="HTML" />
        <p>HTML</p>
      </div>

      <div class="myskill-language">
        <img src="assets/html.png" alt="HTML" />
        <p>HTML</p>
      </div>

      <div class="myskill-language">
        <img src="assets/html.png" alt="HTML" />
        <p>HTML</p>
      </div>

      <div class="myskill-language">
        <img src="assets/html.png" alt="HTML" />
        <p>HTML</p>
      </div>

      <div class="myskill-language">
        <img src="assets/html.png" alt="HTML" />
        <p>HTML</p>
      </div>

      <div class="myskill-language">
        <img src="assets/html.png" alt="HTML" />
        <p>HTML</p>
      </div>

      <div class="myskill-language">
        <img src="assets/html.png" alt="HTML" />
        <p>HTML</p>
      </div>
    </div>
  </div>
  <div class="myskill-right">
    <div class="myskill-row">
        <h2 class="myskill-title">My Skills</h2>
        <div class="purple-line"></div>
    </div>
  </div>
</section>
