<section class="hero-wrapper">
  <div class="hero-container">

    <div class="hero-left">
      <img class="hero-shadow" src="../assets/heroshadow.png" alt="shadow" />
      <img class="hero-img" src="../assets/hero-char.png" alt="hero" />
    </div>
    <div class="hero-right">
      <span class="hero-intro">I am</span>
      <h1 class="hero-name">Vaishnavan Logendra</h1>
      <p class="hero-role">FRONTEND DEVELOPER</p>
      <button class="hero-btn">Let's Talk</button>
    </div>
</div>
</section>
