@use '../../styles/variables.scss' as var;

.hero-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 120px;
  font-family: 'Poppins-bold' sans-serif;
}

.hero-container {
  max-width: 1440px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.hero-left {
  position: relative;
}

.hero-shadow {
  position: absolute;
  width: 600px;
  left: -80px;
  top: 40px;
  z-index: 1;
}

.hero-img {
  position: relative;
  width: 500px;
  z-index: 2;
  margin-bottom: 50px;
}

.hero-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  align-items: center;
}

.hero-intro {
  position: absolute;
  left: -130px;
  top: 40px;
  transform: rotate(-90deg);
  font-size: 80px;

  color: var.$fontcolor;
}

.hero-name {
  font-size: 69px;

  color: var.$fontcolor;
}

.hero-role {
  font-size: 58px;
  color: var.$secondaryfontcolor;
}

.hero-btn {
  background-color: var.$btncolor;
  color: var.$fontcolor;
  font-size: 23px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 25px;
  padding: 14px 28px;
  width: fit-content;

  &:hover {
    background-color: var.$secondaryfontcolor;
  }
}
