<section id="portfolio">
  <div class="portfolio-content">
    <div class="portfolio-title-line">
      <img src="assets/portfolioline2.png" alt="" class="title-line">
    <h2 class="portfolio-title">Portfolio</h2>
    <img src="assets/portfolioline1.png" alt="" class="title-line2">
  </div>

  <p class="portfolio-subtitle">
    Explore a selection of my work here - Interact with projects to see my skills in action.
  </p>

  <div class="project">
    <div class="project-card project-left">
        <img src="assets/join.png" alt="Join">
        <div class="project-info">
          <h3 class="project-title">Join</h3>
          <p class="project-language">Angular | TypeScript | HTML | CSS | Firebase</p>
          <p class="project-desc">
            Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories. 
          </p>
          <div class="project-buttons">
            <a href="https://github.com/" class="btn">Live test</a>
            <a href="github.com" class="btn">Github</a>
          </div>
    </div>
  </div>
      <div class="project-card project-right">
        <img src="assets/pollo.png" alt="Pollo">
        <div class="project-info">
          <h3 class="project-title">El Pollo Loco</h3>
          <p class="project-language">JavaScript | HTML | CSS</p>
          <p class="project-desc">
            A simple Jump-and-Run game based on an object-oriented approach. Help sharkie to find coins and poison bottles to fight against the killer whale.
          </p>
          <div class="project-buttons">
            <a href="https://github.com/" class="btn">Live test</a>
            <a href="github.com" class="btn">Github</a>
          </div>
    </div>
  </div>
      <div class="project-card project-left">
        <img class="portfolio-shadow" src="assets/purpleshadow2.png" alt="" />
        <img src="assets/CRM.png" alt="CRM">
        <div class="project-info">
          <h3 class="project-title">Simple CRM</h3>
          <p class="project-language">Angular | Firebase</p>
          <p class="project-desc">
            A very Simple Customer Relationship Management system working with CRUD functionality.
          </p>
          <div class="project-buttons">
            <a href="https://github.com/" class="btn">Live test</a>
            <a href="github.com" class="btn">Github</a>
          </div>
    </div>
  </div>
        <div class="project-card project-right">
        <img src="assets/pokemon.png" alt="Pokemon">
        <div class="project-info">
          <h3 class="project-title">Pokédex</h3>
          <p class="project-language">JavaScript | HTML | CSS | Api</p>
          <p class="project-desc">
            Based on the PokéAPI a simple library that provides and catalogues pokemon information.
          <div class="project-buttons">
            <a href="https://github.com/" class="btn">Live test</a>
            <a href="github.com" class="btn">Github</a>
          </div>
    </div>
  </div>
  </div>
  </div>
</section>