@use '../../styles/variables.scss' as var;

#portfolio {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 120px 0;

  .portfolio-content {
    max-width: 1920px;
    width: 100%;
    padding: 0 240px;
  }

  .portfolio-title-line {
    padding-top: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    margin-bottom: 20px;
  }

  .title-line {
    width: 70px;
    height: 5px;
    flex-shrink: 0;
  }

  .title-line2 {
    width: 600px;
    height: 5px;
    flex-shrink: 0;
  }

  .portfolio-title {
    font-size: 90px;
    font-family: 'Poppins-bold', sans-serif;
    color: var.$fontcolor;
  }

  .portfolio-subtitle {
    font-family: 'Poppins-regular', sans-serif;
    font-size: 20px;
    color: var.$fontcolor;
    text-align: center;
    margin: 100px 0 100px 0;
  }
}

.project {
  display: flex;
  flex-direction: column;
  gap: 100px;

  .project-card {
    display: flex;
    align-items: center;
    position: relative;
  }
}

.portfolio-shadow {
  position: absolute;
  top: 75%;
  left: -200px;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 0;
}

.feedback-shadow {
  position: absolute;
  top: 180px;
  right: 0px;
  pointer-events: none;
  z-index: 0;
}
.project-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.project-card.project-left {
  &-info {
    text-align: right;
  }
}

.project-card.project-right {
  flex-direction: row-reverse;
  .project-info {
    text-align: right;
  }
}

.project-title {
  font-size: 32px;
  color: var.$secondaryfontcolor;
  font-family: 'Poppins-bold', sans-serif;
  margin-bottom: 10px;
}

.project-language {
  color: var.$btncolor;
  font-family: 'Poppins-regular', sans-serif;
  font-size: 23px;
}

.project-desc {
  font-family: 'Poppins-regular', sans-serif;
  font-size: 20px;
  color: var.$fontcolor;
  margin-bottom: 30px;
}

.project-buttons {
  display: flex;
  gap: 20px;

  .btn {
    font-family: 'Poppins-regular', sans-serif;
    background-color: var.$btncolor;
    color: var.$fontcolor;
    padding: 14px 28px;
    border-radius: 8px;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background-color: var.$secondaryfontcolor;
    }
  }
}
