<section class="portfolio">
  <div class="portfolio-content">
    <h2 class="portfolio-title">Portfolio</h2>
  </div>

  <p class="portfolio-subtitle">
    Explore a selection of my work here - Interact with projects to see my skills in action.
  </p>
  <div class="project">
    <div class="project card project-left">
        <img src="assets/join.png" alt="Join">
        <div class="project-info">
          <h3 class="project-title">Join</h3>
          <p class="project-language">Angular | TypeScript | HTML | CSS | Firebase</p>
          <p class="project-desc">
            Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories. 
          </p>
          <div class="project-buttons">
            <a href="github.com">Live test</a>
            <a href="github.com">Github</a>
          </div>
    </div>
  </div>
  </div>
</section>